In [1]:
import scipy.io as sp
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime, date, time
import pandas as pd
import utils as ut

In [2]:
COORD_PRECISION = 8

In [3]:
yancoMatCols = ['stemp', 'TBh1', 'TBh2', 'TBh3', 'TBh4', 'TBv1', 'TBv2', 'TBv3', 'TBv4', 'latDeg', 'lngDeg']
yancoMat09 = pd.DataFrame(sp.loadmat('yanko-data/Yanco_Elbara_data/geodata_20150909.mat')['fdata'], columns=yancoMatCols)
yancoMat09['srcDate'] = '20150909'
yancoMat11 = pd.DataFrame(sp.loadmat('yanko-data/Yanco_Elbara_data/geodata_20150911.mat')['fdata'], columns=yancoMatCols)
yancoMat11['srcDate'] = '20150911'
yancoMat14 = pd.DataFrame(sp.loadmat('yanko-data/Yanco_Elbara_data/geodata_20150914.mat')['fdata'], columns=yancoMatCols)
yancoMat14['srcDate'] = '20150914'
yancoMat17 = pd.DataFrame(sp.loadmat('yanko-data/Yanco_Elbara_data/geodata_20150917.mat')['fdata'], columns=yancoMatCols)
yancoMat17['srcDate'] = '20150917'
yancoMat19 = pd.DataFrame(sp.loadmat('yanko-data/Yanco_Elbara_data/geodata_20150919.mat')['fdata'], columns=yancoMatCols)
yancoMat19['srcDate'] = '20150919'
yancoMat22 = pd.DataFrame(sp.loadmat('yanko-data/Yanco_Elbara_data/geodata_20150922.mat')['fdata'], columns=yancoMatCols)
yancoMat22['srcDate'] = '20150922'
yancoMat24 = pd.DataFrame(sp.loadmat('yanko-data/Yanco_Elbara_data/geodata_20150924.mat')['fdata'], columns=yancoMatCols)
yancoMat24['srcDate'] = '20150924'
yancoMat27 = pd.DataFrame(sp.loadmat('yanko-data/Yanco_Elbara_data/geodata_20150927.mat')['fdata'], columns=yancoMatCols)
yancoMat27['srcDate'] = '20150927'
yancoMatAll = pd.concat([yancoMat09, yancoMat11, yancoMat14, yancoMat17, yancoMat19, yancoMat22, yancoMat24, yancoMat27])

In [4]:
yancoCSV09 = pd.read_csv('yanko-data/Yanco_Elbara_data/0909.csv')
yancoCSV09['srcDate'] = '20150909'
yancoCSV11 = pd.read_csv('yanko-data/Yanco_Elbara_data/0911.csv')
yancoCSV11['srcDate'] = '20150911'
yancoCSV14 = pd.read_csv('yanko-data/Yanco_Elbara_data/0914.csv')
yancoCSV14['srcDate'] = '20150914'
yancoCSV17 = pd.read_csv('yanko-data/Yanco_Elbara_data/0917.csv')
yancoCSV17['srcDate'] = '20150917'
yancoCSV19 = pd.read_csv('yanko-data/Yanco_Elbara_data/0919.csv')
yancoCSV19['srcDate'] = '20150919'
yancoCSV22 = pd.read_csv('yanko-data/Yanco_Elbara_data/0922.csv')
yancoCSV22['srcDate'] = '20150922'
yancoCSV24 = pd.read_csv('yanko-data/Yanco_Elbara_data/0924.csv')
yancoCSV24['srcDate'] = '20150924'
yancoCSV27 = pd.read_csv('yanko-data/Yanco_Elbara_data/0927.csv')
yancoCSV27['srcDate'] = '20150927'
yancoCSVAll = pd.concat([yancoCSV09, yancoCSV11, yancoCSV14, yancoCSV17, yancoCSV19, yancoCSV22, yancoCSV24, yancoCSV27])

In [ ]:
yancoCSVAll['latDeg'] = yancoCSVAll.apply(lambda row: ut.utmToLatLng(55, row['LONGITUDE'], row['LATITUDE'])[0], axis=1)
yancoCSVAll['lngDeg'] = yancoCSVAll.apply(lambda row: ut.utmToLatLng(55, row['LONGITUDE'], row['LATITUDE'])[1], axis=1)
yancoCSVAll['coord_id'] = yancoCSVAll.groupby([yancoCSVAll['latDeg'].round(COORD_PRECISION), yancoCSVAll['lngDeg'].round(COORD_PRECISION)]).ngroup()
yancoCSVAll

In [ ]:
yancoMatAll['coord_id'] = yancoMatAll.groupby([yancoMatAll['latDeg'].round(COORD_PRECISION), yancoMatAll['lngDeg'].round(COORD_PRECISION)]).ngroup()
yancoMatAll

In [7]:
yancoMatAll = yancoMatAll.sort_values(['coord_id'])
yancoCSVAll = yancoCSVAll.sort_values(['coord_id'])
yancoAll = pd.merge_asof(yancoMatAll, yancoCSVAll, on='coord_id', direction='nearest')
yancoAll

,stemp,TBh1,TBh2,TBh3,TBh4,TBv1,TBv2,TBv3,TBv4,latDeg_x,...,SOIL_ID,ROCK_FRAC,IRRI_TYPE,DEW,LATITUDE,LONGITUDE,ALTITUDE,srcDate_y,latDeg_y,lngDeg_y
0,269.078502,245.154401,245.720967,246.373361,245.956158,263.806526,263.698067,265.054537,264.576249,-35.003231,...,,0,NaN,NaN,6.126608e+06,433731.095968,137.0,20150922,-35.000978,146.273777
1,269.079097,259.070961,257.521314,259.565976,257.755130,267.043469,255.946765,267.824280,256.744829,-35.003227,...,,0,NaN,NaN,6.126609e+06,433688.342964,135.9,20150922,-35.000958,146.273308
2,269.078602,259.996567,260.757672,260.711225,261.100309,269.335569,274.442314,270.484846,275.018467,-35.003227,...,,0,NaN,NaN,6.126616e+06,433774.688961,137.3,20150922,-35.000908,146.274255
3,269.078403,251.147753,254.608241,251.907545,255.383141,270.718757,269.093853,271.388240,269.461065,-35.003227,...,,0,NaN,NaN,6.126623e+06,434058.750352,136.5,20150922,-35.000858,146.277368
4,269.078700,NaN,250.416478,NaN,251.249242,NaN,269.231160,NaN,270.420446,-35.003227,...,,0,NaN,NaN,6.126627e+06,434532.354395,139.6,20150922,-35.000858,146.282558
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12057,266.120956,NaN,244.503763,NaN,246.169455,NaN,264.157310,NaN,266.986629,-34.963329,...,,0,NaN,NaN,6.130538e+06,436538.973611,140.7,20150914,-34.965720,146.304845
12058,261.159927,267.151432,264.099849,267.869472,264.537421,268.453174,268.556542,269.426927,269.602238,-34.963294,...,,0,NaN,NaN,6.130538e+06,436538.973611,140.7,20150914,-34.965720,146.304845
12059,261.160025,254.730749,259.642677,255.437170,259.990479,264.862859,268.887786,265.411604,269.653444,-34.963146,...,,0,NaN,NaN,6.130538e+06,436538.973611,140.7,20150914,-34.965720,146.304845
12060,261.160225,264.530645,260.878045,265.011558,261.688439,264.278543,262.001711,264.807275,263.587163,-34.963099,...,,0,NaN,NaN,6.130538e+06,436538.973611,140.7,20150914,-34.965720,146.304845
12061,261.160125,261.654342,261.792457,262.188271,262.620116,265.471372,267.217491,266.637843,268.043127,-34.963075,...,,0,NaN,NaN,6.130538e+06,436538.973611,140.7,20150914,-34.965720,146.304845