In [1]:
import scipy.io as sp
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime, date, time
import pandas as pd
import utils as ut

In [67]:
COORD_PRECISION = 4

In [24]:
yancoMatCols = ['stemp', 'TBh1', 'TBh2', 'TBh3', 'TBh4', 'TBv1', 'TBv2', 'TBv3', 'TBv4', 'latDeg', 'lngDeg']
yancoMat09 = pd.DataFrame(sp.loadmat('yanko-data/Yanco_Elbara_data/geodata_20150909.mat')['fdata'], columns=yancoMatCols)
yancoMat09['srcDate'] = '20150909'
yancoMat11 = pd.DataFrame(sp.loadmat('yanko-data/Yanco_Elbara_data/geodata_20150911.mat')['fdata'], columns=yancoMatCols)
yancoMat11['srcDate'] = '20150911'
yancoMat14 = pd.DataFrame(sp.loadmat('yanko-data/Yanco_Elbara_data/geodata_20150914.mat')['fdata'], columns=yancoMatCols)
yancoMat14['srcDate'] = '20150914'
yancoMat17 = pd.DataFrame(sp.loadmat('yanko-data/Yanco_Elbara_data/geodata_20150917.mat')['fdata'], columns=yancoMatCols)
yancoMat17['srcDate'] = '20150917'
yancoMat19 = pd.DataFrame(sp.loadmat('yanko-data/Yanco_Elbara_data/geodata_20150919.mat')['fdata'], columns=yancoMatCols)
yancoMat19['srcDate'] = '20150919'
yancoMat22 = pd.DataFrame(sp.loadmat('yanko-data/Yanco_Elbara_data/geodata_20150922.mat')['fdata'], columns=yancoMatCols)
yancoMat22['srcDate'] = '20150922'
yancoMat24 = pd.DataFrame(sp.loadmat('yanko-data/Yanco_Elbara_data/geodata_20150924.mat')['fdata'], columns=yancoMatCols)
yancoMat24['srcDate'] = '20150924'
yancoMat27 = pd.DataFrame(sp.loadmat('yanko-data/Yanco_Elbara_data/geodata_20150927.mat')['fdata'], columns=yancoMatCols)
yancoMat27['srcDate'] = '20150927'
yancoMatAll = pd.concat([yancoMat09, yancoMat11, yancoMat14, yancoMat17, yancoMat19, yancoMat22, yancoMat24, yancoMat27])

In [25]:
yancoCSV09 = pd.read_csv('yanko-data/Yanco_Elbara_data/0909.csv')
yancoCSV09['srcDate'] = '20150909'
yancoCSV11 = pd.read_csv('yanko-data/Yanco_Elbara_data/0911.csv')
yancoCSV11['srcDate'] = '20150911'
yancoCSV14 = pd.read_csv('yanko-data/Yanco_Elbara_data/0914.csv')
yancoCSV14['srcDate'] = '20150914'
yancoCSV17 = pd.read_csv('yanko-data/Yanco_Elbara_data/0917.csv')
yancoCSV17['srcDate'] = '20150917'
yancoCSV19 = pd.read_csv('yanko-data/Yanco_Elbara_data/0919.csv')
yancoCSV19['srcDate'] = '20150919'
yancoCSV22 = pd.read_csv('yanko-data/Yanco_Elbara_data/0922.csv')
yancoCSV22['srcDate'] = '20150922'
yancoCSV24 = pd.read_csv('yanko-data/Yanco_Elbara_data/0924.csv')
yancoCSV24['srcDate'] = '20150924'
yancoCSV27 = pd.read_csv('yanko-data/Yanco_Elbara_data/0927.csv')
yancoCSV27['srcDate'] = '20150927'
yancoCSVAll = pd.concat([yancoCSV09, yancoCSV11, yancoCSV14, yancoCSV17, yancoCSV19, yancoCSV22, yancoCSV24, yancoCSV27])

In [68]:
yancoCSVAll['latDeg'] = yancoCSVAll.apply(lambda row: ut.utmToLatLng(55, row['LONGITUDE'], row['LATITUDE'])[0], axis=1)
yancoCSVAll['lngDeg'] = yancoCSVAll.apply(lambda row: ut.utmToLatLng(55, row['LONGITUDE'], row['LATITUDE'])[1], axis=1)
yancoCSVAll['coord_id'] = yancoCSVAll.groupby([yancoCSVAll['latDeg'].round(COORD_PRECISION), yancoCSVAll['lngDeg'].round(COORD_PRECISION)]).ngroup()
yancoCSVAll

,FID_,POINT_ID,COMMENT,CAL_MOISTU,TEMP_C,REAL_DC,REAL_DC_TC,IMAG_DC,IMAG_DC_TC,SALINITY,...,ROCK_FRAC,IRRI_TYPE,DEW,LATITUDE,LONGITUDE,ALTITUDE,srcDate,latDeg,lngDeg,coord_id
0,NaN,1,,0.406669,11.7,28.303,28.444692,14.810,17.693,0.523,...,0,,,6.127888e+06,435262.280142,140.5,20150909,-34.989530,146.290655,293
1,NaN,2,,0.403992,12.4,28.945,28.185629,9.896,11.625,0.342,...,0,NaN,NaN,6.128376e+06,435401.362026,142.9,20150909,-34.985145,146.292217,414
2,NaN,3,,0.362300,11.5,24.662,24.304857,10.165,12.168,0.412,...,0,NaN,NaN,6.128376e+06,435346.743952,141.4,20150909,-34.985135,146.291618,412
3,NaN,4,,0.357052,11.3,24.196,23.836786,9.914,11.914,0.410,...,0,NaN,NaN,6.128377e+06,435283.451221,140.7,20150909,-34.985120,146.290925,410
4,NaN,5,,0.519548,11.6,38.773,40.443585,28.497,34.245,0.735,...,0,NaN,NaN,6.128375e+06,435209.691233,141.8,20150909,-34.985141,146.290117,406
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,NaN,194,,0.070184,29.5,5.129,5.172895,2.328,2.144,0.454,...,0,,NaN,6.126888e+06,434508.118239,139.0,20150927,-34.998500,146.282313,54
194,NaN,195,,0.086762,29.5,5.851,5.881166,3.097,2.848,0.529,...,0,,NaN,6.126888e+06,434508.119567,139.0,20150927,-34.998501,146.282313,54
195,NaN,196,,0.123039,29.5,7.615,7.589496,5.453,5.015,0.716,...,0,,NaN,6.126879e+06,434579.063874,139.1,20150927,-34.998588,146.283090,47
196,NaN,197,,0.094918,29.5,6.229,6.246264,3.623,3.332,0.582,...,0,,NaN,6.126879e+06,434579.215966,139.1,20150927,-34.998588,146.283092,47
197,NaN,198,,0.113204,29.8,7.145,7.104822,5.418,4.983,0.758,...,0,,NaN,6.126879e+06,434579.063874,139.1,20150927,-34.998588,146.283090,47

In [69]:
yancoMatAll['coord_id'] = yancoMatAll.groupby([yancoMatAll['latDeg'].round(COORD_PRECISION), yancoMatAll['lngDeg'].round(COORD_PRECISION)]).ngroup()
yancoMatAll

,stemp,TBh1,TBh2,TBh3,TBh4,TBv1,TBv2,TBv3,TBv4,latDeg,lngDeg,srcDate,coord_id
0,251.026001,159.473648,159.001146,160.404243,160.046466,181.548047,181.519552,183.860188,183.312459,-34.986576,146.292414,20150909,2698
1,251.026101,158.934831,158.863145,159.807478,160.051016,181.224948,181.032874,183.647902,183.578546,-34.986486,146.292408,20150909,2708
2,251.026200,158.769725,158.844588,159.824764,159.998732,181.197201,181.173789,183.573022,183.299313,-34.986406,146.292393,20150909,2719
3,251.026300,158.663277,158.596051,159.753829,159.817997,181.410876,158.074067,183.193683,159.396135,-34.986314,146.292381,20150909,2734
4,251.026399,159.095075,158.787682,160.197371,160.093616,181.304960,181.091428,183.435883,183.542279,-34.986193,146.292361,20150909,2744
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1288,269.097656,244.866734,269.025497,245.144225,268.828243,266.878608,270.392545,267.557085,270.457762,-34.998468,146.283987,20150927,922
1289,269.097755,254.739697,250.519522,254.881644,250.676279,266.818142,263.498755,267.503693,263.947515,-34.998514,146.284156,20150927,924
1290,269.097854,249.981360,253.156354,250.707844,253.183350,267.766126,262.432360,267.796357,262.709848,-34.998558,146.284337,20150927,888
1291,269.097954,254.457875,253.897206,255.025719,254.519935,268.409834,265.301469,268.556088,265.316500,-34.998584,146.284526,20150927,889
1292,269.098052,251.758656,256.540458,252.735429,257.155839,268.646193,268.450393,269.604884,269.272800,-34.998618,146.284591,20150927,890

In [70]:
yancoAll = pd.merge(yancoMatAll, yancoCSVAll, how='inner', on='coord_id')
yancoAll

,stemp,TBh1,TBh2,TBh3,TBh4,TBv1,TBv2,TBv3,TBv4,latDeg_x,...,SOIL_ID,ROCK_FRAC,IRRI_TYPE,DEW,LATITUDE,LONGITUDE,ALTITUDE,srcDate_y,latDeg_y,lngDeg_y
0,259.088388,231.020621,234.724190,238.151200,241.739101,253.525842,255.839324,260.368320,262.990499,-34.998575,...,,0,NaN,NaN,6.130538e+06,436538.973611,140.7,20150914,-34.965720,146.304845
1,259.088487,243.057514,247.901563,249.397061,254.586250,261.956658,257.384675,267.863321,263.828247,-34.998577,...,,0,NaN,NaN,6.130536e+06,436499.118430,140.2,20150914,-34.965731,146.304408
2,259.088587,246.356820,247.645159,253.037371,254.500433,267.269759,261.661418,274.297556,268.325715,-34.998577,...,,0,NaN,NaN,6.130536e+06,436457.734005,138.6,20150914,-34.965733,146.303955
3,259.088587,246.356820,247.645159,253.037371,254.500433,267.269759,261.661418,274.297556,268.325715,-34.998577,...,,0,NaN,NaN,6.130536e+06,436457.735292,138.5,20150914,-34.965735,146.303955
4,259.088587,246.356820,247.645159,253.037371,254.500433,267.269759,261.661418,274.297556,268.325715,-34.998577,...,,0,NaN,NaN,6.130536e+06,436457.581852,138.4,20150914,-34.965733,146.303953
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2222,269.096862,246.228051,251.118280,246.287743,251.331063,265.051677,265.470275,264.975405,265.460301,-34.999025,...,,0,NaN,NaN,6.130280e+06,435865.798013,137.8,20150914,-34.968000,146.297452
2223,269.096962,246.949088,247.639730,247.747394,248.259748,264.206654,265.004989,263.807903,265.352468,-34.998924,...,,0,NaN,NaN,6.130278e+06,435906.290479,138.4,20150914,-34.968026,146.297895
2224,269.097061,253.099812,250.056054,253.289125,250.270874,265.563590,266.288682,265.849061,266.245380,-34.998826,...,,0,NaN,NaN,6.130282e+06,436087.021685,140.6,20150911,-34.967998,146.299875
2225,269.097061,253.099812,250.056054,253.289125,250.270874,265.563590,266.288682,265.849061,266.245380,-34.998826,...,,0,NaN,NaN,6.130285e+06,436088.371611,139.7,20150914,-34.967973,146.299890
2226,269.097160,249.123219,253.878035,249.436375,254.102350,269.240724,260.693685,268.435538,260.509248,-34.998722,...,,0,NaN,NaN,6.130292e+06,436346.989221,139.8,20150919,-34.967926,146.302723